<template>
    <header>
        <h1>{{title}}</h1>
        <MyButtonVue text="Add Task" color="green"/>
        <MyButtonVue text="Add Task" color="blue"/>
        <MyButtonVue text="Add Task" color="red"/>
    </header>
</template>

<script>
import MyButtonVue from './MyButton.vue'

export default {
    name: 'MyHeader',
    props: {
        title: String
    },
    components: {
        MyButtonVue
    }
}
</script>

<style scoped>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
</style>