<template>
  <div class="container">
    <h1>Hello world122</h1>
    <MyHeaderVue title="MY PreCious"/>
  </div>
</template>

<script>
import MyHeaderVue from './components/MyHeader.vue';
export default {
  name: "App",
  components: {
    MyHeaderVue
  }, 
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
.container{
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 200px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.btn{
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
</style>
